[build-system]
requires = ["setuptools", "wheel", "setuptools_scm[toml]"]
build-backend = "setuptools.build_meta"

[tool.setuptools_scm]

[tool.pytest.ini_options]
addopts = "-ra --cov nessai"
testpaths = [
    "tests"
]

[tool.coverage.run]
source = [
    "nessai"
]
omit = [
    "nessai/gw/legacy.py"
]

[tool.black]
line-length = 79
target-version = ['py37', 'py38', 'py39']
