name: Compatibility tests

on:
  push:
    branches: [ main, release* ]
  pull_request:
    branches: [ main, release* ]
  schedule:
    # Run tests at 7:00 UTC everyday
    - cron: '0 7 * * *'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  bilby-test:
    name: Bilby compatibility test

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.9'  # Based on bilby
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -e .[test]
        pip install bilby
    - name: Run bilby compatibility tests
      run: |
        python -m pytest --bilby-compatibility
