name: Unit tests

on:
  push:
    branches: [ main, release* ]
  pull_request:
    branches: [ main, release* ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  unittests:
    name: Unit tests - Python ${{ matrix.python-version }} (${{ matrix.os }})

    strategy:
      fail-fast: false
      matrix:
        os: [macOS, Ubuntu, Windows]
        python-version: ["3.7", "3.8", "3.9", "3.10"]
    runs-on: ${{ matrix.os }}-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install -r dev_requirements.txt
        pip install -e .
    - name: Set MPL backend on Windows
      if: runner.os == 'Windows'
      run: |
        echo "MPLBACKEND=agg" >> $env:GITHUB_ENV
    - name: Print environment variables
      run: |
        env
    - name: Test with pytest
      run: |
        python -m pytest --cov-report=xml --without-integration --without-slow-integration
    - name: Upload coverage
      uses: codecov/codecov-action@v3
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        flags: unittests
